@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Poetsen;
    src: url("../src/assets/fonts/PoetsenOne-Regular.ttf");
}

@theme {
    --font-montserrat: Montserrat, "sans-serif";
    --font-poetsen: Poetsen, "sans-serif";
}

body {
    background: linear-gradient(90deg, #f1e0c6 0%, #d4b39d 50%, #a88e6f 100%);
    background-size: 200% 200%;
    animation: bilinear-gradient 5s infinite alternate;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-montserrat);
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@keyframes bilinear-gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  
  .animate-slide-in {
    animation: slideInRight 0.8s ease-out forwards;
  }
  
  .animate-slide-out {
    animation: slideOutRight 0.8s ease-in forwards;
  }
  

  
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poetsen); /* Use Poetsen font for headings */
  color: #fff; /* White color for headings for contrast */
}

p {
  font-family: var(--font-montserrat); /* Use Montserrat font for paragraphs */
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #fff; /* White color for paragraph text */
}

a {
  color: #fff;
  text-decoration: underline;
}

section {
  padding: 50px 20px;
  margin: 20px 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #5b65d5;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a54b1; /* Darker shade of the button color */
}