@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Poetsen;
    src: url("../src/assets/fonts/PoetsenOne-Regular.ttf");
}

@font-face {
    font-family: Fredoka;
    src: url("../src/assets/fonts/Fredoka.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("../src/assets/fonts/InterBold.ttf");
}


@theme {
    --font-montserrat: Montserrat, "sans-serif";
    --font-poetsen: Poetsen, "sans-serif";
    --font-fredoka: Fredoka, "sans-serif";
    --font-interbold: InterBold, "sans-serif";
}

body {
    background: linear-gradient(90deg, #f1e0c6 0%, #d4b39d 50%, #a88e6f 100%);
    background-size: 200% 200%;
    animation: bilinear-gradient 5s infinite alternate;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--font-montserrat);
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@keyframes bilinear-gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}
.gradient-inner {
    background: linear-gradient(to bottom, #B89C8D 0%, #8E6B55 50%, #6F4E4B 100%);
  }
  

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  
  .animate-slide-in {
    animation: slideInRight 0.8s ease-out forwards;
  }
  
  .animate-slide-out {
    animation: slideOutRight 0.8s ease-in forwards;
  }

  /* Add this CSS to your global styles or within a style tag inside the component */
  .outline-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .outline-effect::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 2px solid white;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
  }
  
  .outline-effect.active::after {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  