@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: Poetsen;
    src: url("../src/assets/fonts/PoetsenOne-Regular.ttf");
}

@font-face {
    font-family: Fredoka;
    src: url("../src/assets/fonts/Fredoka.ttf");
}

@font-face {
    font-family: InterBold;
    src: url("../src/assets/fonts/InterBold.ttf");
}

@font-face {
    font-family: Londrina;
    src: url("../src/assets/fonts/LondrinaSolid-Regular.ttf");
}

@font-face {
    font-family: Pixel;
    src: url("../src/assets/fonts/Pixel.ttf")
}


@theme {
    --font-montserrat: Montserrat, "sans-serif";
    --font-poetsen: Poetsen, "sans-serif";
    --font-fredoka: Fredoka, "sans-serif";
    --font-interbold: InterBold, "sans-serif";
    --font-londrina: Londrina, "sans-serif";
    --font-pixel: Pixel, "sans-serif";
}

body {
    /*background: linear-gradient(135deg, #b79891, #a38178, #94716b);
    background-size: 200% 200%;
    animation: gradient-flow 15s ease-in-out infinite;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-image: url('./assets/wood.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    font-family: var(--font-montserrat);
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.gradient-inner {
    background: linear-gradient(to bottom, #878280 0%, #8E6B55 50%, #6F4E4B 100%);
  }
  

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  
  .animate-slide-in {
    animation: slideInRight 0.8s ease-out forwards;
  }
  
  .animate-slide-out {
    animation: slideOutRight 0.8s ease-in forwards;
  }
  