@import "tailwindcss";

@font-face {
    font-family: Montserrat;
    src: url("../src/assets/fonts/Montserrat-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Poetsen;
    src: url("../src/assets/fonts/PoetsenOne-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: Fredoka;
    src: url("../src/assets/fonts/Fredoka.ttf");
    font-display: swap;
}

@font-face {
    font-family: InterBold;
    src: url("../src/assets/fonts/InterBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Londrina;
    src: url("../src/assets/fonts/LondrinaSolid-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: Pixel;
    src: url("../src/assets/fonts/Pixel.ttf");
    font-display: swap;
}
  



@theme {
    --font-montserrat: Montserrat, "sans-serif";
    --font-poetsen: Poetsen, "sans-serif";
    --font-fredoka: Fredoka, "sans-serif";
    --font-interbold: InterBold, "sans-serif";
    --font-londrina: Londrina, "sans-serif";
    --font-pixel: Pixel, "sans-serif";
}

canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    display: block;
}

.section-home {
    background-image: url('./assets/home.webp');
    background-size: cover;
    background-position: center;
}
  
.section-about {
    background-image: url('./assets/about.webp');
    background-size: cover;
    background-position: center;
}
  
.section-skills {
    background-image: url('./assets/skills.webp');
    background-size: cover;
    background-position: center;
}
  
.section-projects {
    background-image: url('./assets/projects.webp');
    background-size: cover;
    background-position: center;
}


.section-home,
.section-about,
.section-skills,
.section-projects {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}


body {
    font-family: var(--font-montserrat);
    color: #333;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #5C3A21;
}

.gradient-inner {
    background: linear-gradient(to bottom, #878280 0%, #8E6B55 50%, #6F4E4B 100%);
  }
  

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
  
  .animate-slide-in {
    animation: slideInRight 0.8s ease-out forwards;
  }
  
  .animate-slide-out {
    animation: slideOutRight 0.8s ease-in forwards;
  }

  @keyframes slide-left-right {
    0% { transform: translateX(0); }
    50% { transform: translateX(6px); }
    100% { transform: translateX(0); }
  }

  .slide-left-right {
    animation: slide-left-right 1.2s ease-in-out infinite;
  }

  
  .text-outline {
    text-shadow:
      2px 2px 0 white,
     -2px 2px 0 white,
      2px -2px 0 white,
     -2px -2px 0 white,
      0 2px 0 white,
      2px 0 0 white,
      0 -2px 0 white,
     -2px 0 0 white;
  }
  